<div id="main">
  <div id="header">
    <div>
      <img src="/assets/images/logo.png" id="logo"/>
    </div>
    <div>
      <h1>IT Academija</h1>
    </div>
  </div>

  <div id="form-container">
    <h2 id="form-title">Registracijos forma</h2>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [class.has-error]="fname.invalid">
        <label for="fname">Vardas:</label>
        <input
          type="text"
          class="form-control"
          id="fname"
          formControlName="fname"
        />
        <div
          [hidden]="fname.valid || fname.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="fname.errors?.required">
            Įveskite vardą
          </div>
          <div *ngIf="fname.errors?.minlength">
            Vardas per trumpas
          </div>
          <div *ngIf="fname.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lname">Pavardė:</label>
        <input
          type="text"
          class="form-control"
          id="lname"
          formControlName="lname"
        />
        <div
          [hidden]="lname.valid || lname.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="lname.errors?.required">
            Įveskite pavardę
          </div>
          <div *ngIf="lname.errors?.minlength">
            Pavardė per trumpa
          </div>
          <div *ngIf="lname.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Tel. numeris:</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          placeholder="+37060000000"
        />
        <div
          [hidden]="phone.valid || phone.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="phone.errors?.required">
            Įveskite telefono numerį
          </div>
          <div *ngIf="phone.errors?.pattern">
            Neteisingas formatas! (+37060000000)
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">El. paštas:</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
        />
        <div
          [hidden]="email.valid || email.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="email.errors?.required">
            Įveskite el. pašto adresą
          </div>
          <div *ngIf="email.errors?.maxlength">
            El. pašto adresas per ilgas!
          </div>
          <div *ngIf="email.errors?.pattern">
            Neteisingas formatas!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="establishment"
        >Mokymosi įstaiga, kurioje šiuo metu mokaisi:</label
        >
        <select
          type="text"
          class="form-control"
          id="establishment"
          formControlName="establishment"
        >
          <option value="0" disabled>Pasirinkite mokymosi įstaigą</option>
          <option
            *ngFor="let university of $universities | async"
            value="{{ university }}"
          >
            {{ university }}
          </option>
          <option value="kita">Kita</option>
        </select>
        <div
          [hidden]="establishment.valid || establishment.untouched"
          class="alert alert-danger"
        >
          Pasirinkite mokymosi įstaiga!
        </div>
        <br/>
        <div [hidden]="establishment.value != 'kita'" class="form-group">
          <label for="establishmentOther">Įvesk įstaigos pavadinimą:</label>
          <input
            type="text"
            class="form-control"
            id="establishmentOther"
            formControlName="establishmentOther"
          />
          <div
            [hidden]="establishmentOther.valid || establishmentOther.untouched"
            class="alert alert-danger"
          >
            <div *ngIf="establishmentOther.errors?.required">
              Įveskite mokymosi įstaigos pavadinimą
            </div>
            <div *ngIf="establishmentOther.errors?.pattern">
              Nenaudokite skaičių ar specialių simbolių!
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contract"
        >Ar bus galimybė pasirašyti trišalę praktikos sutartį?</label
        >
        <div class="form-radio-group" [class.has-error]="contract.invalid">
          <div class="form-radio-group-choice">
            <input
              type="radio"
              value="yes"
              id="contract-pos"
              formControlName="contract"
            />
            <label for="contract-pos" class="radio-label">Taip</label>
          </div>

          <div class="form-radio-group-choice">
            <input
              type="radio"
              value="no"
              id="contract-neg"
              formControlName="contract"
            />
            <label for="contract-neg" class="radio-label">Ne</label>
          </div>
          <div
            *ngIf="contract.invalid"
            [hidden]="contract.valid || contract.untouched"
            class="alert alert-danger"
          >
            Laukas privalomas!
          </div>
        </div>

        <div
          [hidden]="contract.value == 'yes' || contract.pristine"
          class="radio-hidden-group"
        >
          <label for="contractExplanation">Pakomentuok plačiau:</label>
          <textarea
            type="text"
            (input)="triggerResize()"
            cdkTextareaAutosize
            #contractResizableArea="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5"
            class="form-control textarea-custom"
            id="contractExplanation"
            maxlength="250"
            formControlName="contractExplanation"
          ></textarea>

          <div
            class="alert alert-danger"
            [hidden]="
              contractExplanation.valid || contractExplanation.untouched
            "
          >
            <div *ngIf="contractExplanation.errors?.required">
              Laukas privalomas!
            </div>
            <div *ngIf="contractExplanation.errors?.pattern">
              Nenaudokite skaičių ar specialių simbolių!
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="shift"
        >Numatytas praktikos laikas darbo dienomis 14-18 val. Ar galėsi
          akademijai skirti tiek laiko?</label
        >
        <div class="form-radio-group">
          <div class="form-radio-group-choice">
            <input
              type="radio"
              value="yes"
              id="shift-pos"
              formControlName="shift"
            />
            <label for="shift-pos" class="radio-label">Taip</label>
          </div>

          <div class="form-radio-group-choice">
            <input
              type="radio"
              value="no"
              id="shift-neg"
              formControlName="shift"
            />
            <label for="shift-neg" class="radio-label">Ne</label>
          </div>
        </div>
        <div
          *ngIf="shift.invalid"
          [hidden]="shift.valid || shift.untouched"
          class="alert alert-danger"
        >
          Laukas privalomas!
        </div>
      </div>

      <div
        [hidden]="shift.value == 'yes' || shift.pristine"
        class="radio-hidden-group"
      >
        <label for="shiftExplanation">Pakomentuok plačiau:</label>
        <textarea
          type="text"
          (input)="triggerResize()"
          cdkTextareaAutosize
          #shiftResizableArea="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          class="form-control textarea-custom"
          id="shiftExplanation"
          formControlName="shiftExplanation"
          maxlength="250"
        ></textarea>
        <div
          class="alert alert-danger"
          [hidden]="shiftExplanation.valid || shiftExplanation.untouched"
        >
          <div *ngIf="shiftExplanation.errors?.required">
            Laukas privalomas!
          </div>
          <div *ngIf="shiftExplanation.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="hobbies"
        >Ką veiki kai nesimokai? Kokie tavo pomėgiai?</label
        >
        <textarea
          type="text"
          (input)="triggerResize()"
          cdkTextareaAutosize
          #hobbiesResizableArea="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          class="form-control textarea-custom"
          id="hobbies"
          formControlName="hobbies"
          maxlength="450"
        ></textarea>
        <div
          [hidden]="hobbies.valid || hobbies.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="hobbies.errors?.required">
            Laukas privalomas!
          </div>
          <div *ngIf="hobbies.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="motivation"
        >Kodėl nori dalyvauti IT akademijoje? Kas tave „veža“ joje
          dalyvauti?</label
        >
        <textarea
          type="text"
          (input)="triggerResize()"
          cdkTextareaAutosize
          #motivationResizableArea="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          class="form-control textarea-custom"
          id="motivation"
          formControlName="motivation"
          maxlength="450"
        ></textarea>
        <div
          [hidden]="motivation.valid || motivation.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="motivation.errors?.required">
            Laukas privalomas!
          </div>
          <div *ngIf="motivation.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="experience"
        >Kokios technologijos tau labiausiai patinka ir su kokiomis iš jų jau
          turi patirties? Jei teko dirbti prie konkretaus projekto, pasidalink
          jo nuoroda.</label
        >
        <textarea
          type="text"
          id="experience"
          (input)="triggerResize()"
          cdkTextareaAutosize
          #experienceResizableArea="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          class="form-control textarea-custom"
          formControlName="experience"
          maxlength="450"
        ></textarea>
        <div
          [hidden]="experience.valid || experience.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="experience.errors?.required">
            Laukas privalomas!
          </div>
          <div *ngIf="experience.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="marketing"
        >Iš kur sužinojai apie IT akademiją Swedbank?</label
        >
        <textarea
          (input)="triggerResize()"
          cdkTextareaAutosize
          #marketingResizableArea="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          class="form-control textarea-custom"
          type="text"
          id="marketing"
          formControlName="marketing"
          maxlength="250"
        ></textarea>
        <div
          [hidden]="marketing.valid || marketing.untouched"
          class="alert alert-danger"
        >
          <div *ngIf="marketing.errors?.required">
            Laukas privalomas!
          </div>
          <div *ngIf="marketing.errors?.pattern">
            Nenaudokite skaičių ar specialių simbolių!
          </div>
        </div>
      </div>
      <div class="row">
        <div id="submit">
          <button
            type="submit"
            class="btn btn-custom"
            (click)="(applicationForm.valid ? show() : null)"
          >
            Pateikti
          </button>
        </div>
        <div id="reset">
          <button
            type="button"
            class="btn btn-light"
            (click)="applicationForm.reset()"
          >
            Išvalyti
          </button>
        </div>
      </div>
    </form>

    <div
      [style.display]="showModal ? 'block' : 'none'"
      class="modal"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
              Registracijos forma sėkmingai išsiųsta.
            </h4>
          </div>
          <div id="modal-footer">
            <button
              type="submit"
              class="btn btn-custom"
              id="btn-popup"
              (click)="hide()"
            >
              Baigti
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
