.textarea-custom {
  overflow: hidden;
}
#logo {
  width: 5%;
  height: 5%;
}
#header {
  text-align: left;
  background: white;
  color: #ee7023;
  margin: 2% 5% 0%;
}

.ng-valid.ng-touched:not(form) {
  border-left: 5px solid #42a948;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.row {
  padding: 5% 0% 3%;
  width: auto;
}

#submit {
  margin-right: 2%;
}

@media all and (max-width: 480px) {
  .row {
    display: inline-block;
  }
  #submit {
    margin: 2%;
    background-color: #42a948;
  }
}

.btn {
  width: 120px;
}

#form-container {
  margin: 0% 5% 10%;
}

#form-title {
  margin: 5% 0;
}

.radio-label {
  margin-left: 1%;
}

.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(66, 133, 244, 0.18),
    0 4px 15px 0 rgba(66, 133, 244, 0.15);
}
.btn-custom {
  background: #ee7023;
}
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover {
  background: #c95f1e;
}

.btn-light {
  background-color: #ececec;
}

.btn-light:active,
.btn-light:hover {
  background-color: #dbdbdb;
}

#modal-footer {
  text-align: center;
}

.modal-title {
  margin: 5%;
}

#btn-popup {
  margin: 3%;
}
