.ng-valid.ng-touched:not(form) {
  border-left: 5px solid #42a948;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

@media only screen and (min-width: 768px) {
  .row {
    display: inline-block;
  }
  #submit {
    margin: 2%;
    background-color: #42a948;
  }
}

#form-container {
  margin: 0% 5% 10%;
}

#form-title {
  margin: 5% 0;
}

.radio-label {
  margin-left: 1%;
}

#modal-footer {
  text-align: center;
}

.modal-title {
  margin: 5%;
}
.custom-tooltip {
display: inline-block;
  border-bottom: 1px dotted;
}
.custom-tooltip .custom-tooltip-text {
  visibility: hidden;
  width: auto;
  /*background-color: black;*/
  background-color: #C0ADC5;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.custom-tooltip:hover .custom-tooltip-text {
  visibility: visible;
}
