<div class="login-page">
  <div class="form">
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm.value)"
      class="login-form"
    >
      <input
        id="username"
        type="text"
        placeholder="prisijungimo vardas"
        name="username"
        required
        ngModel
        #username="ngModel"
        (click)="isSelected = true"
      />
      <input
        id="password"
        type="password"
        placeholder="slaptažodis"
        name="password"
        required
        ngModel
        #password="ngModel"
        (click)="isSelected = true"
      />
      <div class="alert alert-danger" *ngIf="hasError && !isSelected">
        Klaidingi duomenys!
      </div>
      <button type="submit" class="btn btn-custom">Prisijungti</button>
      <div id="password-reminder">
        <a
          href="javascript:void(0);"
          (click)="show()"
          id="password-reminder-text"
        >
          Pamiršote slaptažodį?
        </a>
      </div>
    </form>
  </div>
  <div [style.display]="showModal ? 'block' : 'none'" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            Kreipkitės į IT pagalbą telefonu: <br />
            1111
          </h4>
        </div>
        <div id="modal-footer">
          <button
            type="button"
            class="btn btn-custom"
            id="btn-popup-hide"
            (click)="hide()"
          >
            Uždaryti
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
