

  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="prisijungimo vardas"/>
        <input type="password" placeholder="slaptažodis"/>
        <input type="text" placeholder="el.paštas"/>
        <button>Registruotis</button>
        <p class="message">Turi paskyrą? <a href="#">Prisijunk</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="prisijungimo vardas"/>
        <input type="password" placeholder="slaptažodis"/>
        <button>login</button>
         <p class="message">Neturi paskyros? <a href="#">Užsiregistruok</a></p>
      </form>
    </div>
  </div>

