<!-- Footer -->
<footer class="page-footer" id="footer">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left ">

    <!-- Grid row -->
    <div class="row footer-align">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Links -->
        <p class="text-uppercase">Nuorodos</p>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="'/form'">Pildyti paraišką</a>
          </li>
          <li>
            <a href="#!">Karjera įmonėje</a>
          </li>
          <li>
            <a href="#!">D.U.K</a>
          </li>
          <li>
            <a href="#!">Apie mus</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <p class="text-uppercase">Rekvizitai</p>
        <ul class="list-unstyled">
          <li>
            <p>„Įmonės pavadinimas“</p>
          </li>
          <li>
            <p>'Įmonės adresas'</p>
          </li>
          <li>
            <p>'Įmonės SWIFT kodas'</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020:
    <a> „Įmonės pavadinimas“</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
