<!-- Footer -->
<footer class="page-footer">
  <!-- Footer Links -->
<!--  <div class="container-fluid text-center text-md-left">-->
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="column">
        <!-- Links -->
        <p class="text-uppercase">Nuorodos</p>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="'/form'">Užpildyk prašymą</a>
          </li>
          <li>
            <a href="#!">Studentų erdvė</a>
          </li>
          <li>
            <a href="#!">D.U.K</a>
          </li>
          <li>
            <a href="#!">Apie mus</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="column">
        <!-- Content -->
        <p class="text-uppercase details-align">Rekvizitai</p>
        <ul class="list-unstyled details-align">
          <li>
            <p>„Įmonės pavadinimas“</p>
          </li>
          <li>
            <p>'Įmonės adresas'</p>
          </li>
          <li>
            <p>'Įmonės SWIFT kodas'</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
<!--  </div>-->
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020:
    <a> „Įmonės pavadinimas“</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
