footer.page-footer {
  position: relative;
  height: auto;
  clear: both;
  bottom: 0;
  padding-top: 20px;
  background: #FFFFFF;
  width: 100%;
  border-top: 15px solid #6B436E;
}
.footer-align {
  text-align: center;
}

.width1200{
  width:1200px !important;
}
