.btn-custom {
  margin-right: 3%;
}

.title {
  text-align: center;
  font-weight: bold;
}

#btn-popup-hide {
  margin: 3%;
}

.bold {
  font-weight: bold;
}

.btn-return {
  float: right;
}

.custom-border {
  border: lightgray;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.form-inner-content {
  margin: 2%;
}

.random {
  margin: 3% 3% 0;
  background-color: lightgray;
}

/* .both-form-container {
  display: inline-flex;
  width: 100%;
}

.both-form-container > div {
  width: 50%;
} */

#btn-bottom {
  display: inline-block;
  height: 100%;
}
