input:focus::placeholder {
  color: transparent;
}

input {
  opacity: 1;
  background-color: #29292921;
  width: 100%;
  vertical-align: bottom;
}

select {
  background-color: #29292921;
  border-color: #29292921;
  width: 100%;
}

.column-width {
  width: 25%;
}

#dateTime-column,
#status-column {
  width: 7%;
}

#name-surname-column {
  width: 15%;
}

#uni-column {
  width: 20%;
}

#contract-column {
  width: 6%;
}

.valuation-column {
  width: 7%;
}

#notes-column {
  width: 8%;
}

table {
  table-layout: fixed;
  width: 100%;
  min-width: 981px;
}

.logout-btn {
  float: left;
  margin: 3% 1.5%;
}

#main div {
  display: inline-block;
}

table.table-bordered > thead > tr > th {
  border-color: #da6720;
  color: #4b250e;
}

td {
  vertical-align: middle;
}

#id-column-header {
  -ms-transform: translateY(-13%);
  transform: translateY(-13%);
  margin-left: -5px;
  font-size: 25px;
  width: 100%;
}

th {
  color: #4b250e;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #da672027;
}

.column-header {
  text-align: center;
}

.column-header-title {
  display: inline-block;
  text-align: center;
  margin-left: 15%;
  vertical-align: middle;
}

.vertical-align-middle {
  transform: translateY(-50%);
}

#main {
  max-width: 90%;
  min-width: 90%;
}

.tick-icon::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.none-icon:after {
  font-family: "FontAwesome";
  content: "\f00d";
}

@media only screen and (max-width: 600px) {
  #main {
    max-width: 100%;
    min-width: 100%;
  }
  .logout-btn {
    margin: 0% 5% 10%;
  }
}

