input:focus::placeholder {
  color: transparent;
}

input {
  opacity: 1;
  background-color: #29292921;
  width: 100%;
  vertical-align: bottom;
}

.column-width {
  width: 25%;
}

#id-column {
  width: 5%;
}

#status-column {
  width: 10%;
}

#dateTime-column {
  width: 11%;
}

.valuation-column {
  width: 12%;
}

#uni-column {
  width: 16%;
}

table {
  table-layout: fixed;
  width: 100%;
}

#logout-btn {
  float: right;
  margin: 3% 1.5%;
}

#main div {
  display: inline-block;
}

.thead-custom {
  background-color: #ee7023;
}

table.table-bordered > thead > tr > th {
  border-color: #da6720;
  color: #4b250e;
}

td {
  vertical-align: middle;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #da672027;
}

.column-header {
  text-align: center;
}

.column-header-title {
  display: inline-block;
  text-align: center;
  margin-left: 15%;
  vertical-align: middle;
}

.vertical-align-middle {
  transform: translateY(-50%);
}

#main {
  width: 85%;
}
/* vertical-align: middle; */
