body,
html {
  height: 100%;
  margin: 0px;
}

.bg-img {
  background-image: url("/assets/images/back.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  overflow-y: scroll;
  height: 100%;
  width: 65%;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -ms-overflow-style: none;
}

/* Hide scroll bar */
#main::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-custom {
  background: #ee7023;
}
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover {
  background: #c95f1e;
}

.btn {
  width: 120px;
}
