body,
html {
  height: auto;
  margin: 0px;
  min-width: 320px;
  background-color: #e0dceb3d;
}
#overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: .2s ease-in;
}
#overlay.fadeIn {
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

#main {
  height: auto;
  display: block;
  overflow: auto;
  max-width: 1023px;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #ffffff;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-custom {
  background: #6b436eb0;
  /* color: #512b2b; */
  font-weight: 500;
}

.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover {
  background: #6b436e;
}

.btn-secondary-custom {
  background: #c0adc6b0;
}

.btn-secondary-custom:active,
.btn-secondary-custom:focus,
.btn-secondary-custom:hover {
  background: #c0adc6;
}

.btn {
  min-width: 120px;
  width: 120px;
  margin-right: 3%;
  border-radius: 0;
}

.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(66, 133, 244, 0.18),
    0 4px 15px 0 rgba(66, 133, 244, 0.15);
  border-radius: 0;
}

.btn-light {
  background-color: #ececec;
}

.btn-light:active,
.btn-light:hover {
  background-color: #dbdbdb;
}

#submit {
  margin-right: 2%;
}

.textarea-custom {
  overflow: hidden;
  min-height: 80px;
}

table > tbody > tr > td {
  cursor: pointer;
}

table.table-bordered > thead > tr > th {
  background-color: #6b436e;
  border: 1px solid rgb(99,59,106);
  color: black;
}

.center {
  text-align: center;
}

h1,
h2,
label {
  color: #512b2b;
  font-weight: bold;
}

p,
li {
  color: #57292a;
}

.form-group-header {
  margin-top: 7%;
  font-size: 18px;
}

.form-group-header > hr {
  margin-top: 0px;
  border-color: #cccccc;
}
