<div id="main">
  <!-- header -->
  <div class="header">
    <div>
      <img src="/assets/images/logo.png" class="logo"/>
    </div>
    <div>
      <p class="title">IT Akademija</p>
    </div>
  </div>
  <div class="main-container">
    <!-- Column 1 -->
    <div class="content-container">
      <div class="Column1_row">
        <p>
          „IT Akademija@Įmonės_pavadinimas“– tai dviejų dalių programa, kurią sudaro su studijomis suderinta praktika ir
          stažuotė „Įmonės_pavadinimas“ IT departamente. Ši programa skirta ne tik informacinių technologijų ar
          susijusių specialybių studentams, tačiau ir tiems, kurie sieja savo ateitį su IT sritimi ir jau dabar tobulina
          savo techninius sugebėjimus.
        </p>
        <p>
          Šios programos metu dalyviai mokosi programavimo, duomenų analizės, informacinių sistemų priežiūros ir
          testavimo, komandinio darbo naudojant banko specifines technologijas, procesus ir praktikas, darbo su
          duomenimis. IT Akademijos studentai turi galimybę išbandyti ir save atrasti skirtingose IT srityse ir
          praktikos pabaigoje pasirinkti norimą stažuotės kryptį. Stažuotojai drauge su „Įmonės_pavadinimas“ IT
          profesionalais įgyvendina realius IT projektus pasirinktose rolėse bei užtvirtina įvairiapuses kompetencijas.
        </p>
      </div>
      <div class="Column1_row">
        <!-- Collapsable menu -->
        <div>
          <div id="accordion" class="accordion">
            <div class="card mb-0">
              <div class="card-header collapsed open-by-default-tab" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                <a class="card-title custom-collapse-text"> Prisijunk, jeigu tu: </a>
              </div>
              <div id="collapseOne" class="card-body collapse show">
                <ul>
                  <li>
                    Sieki su IT susijusio išsilavinimo ar mėgini praktiškai atrasti save šioje srityje.
                  </li>
                  <li>
                    Ateityje nori būti įvairiapusis IT specialistas, kuris sugeba ne tik programuoti.
                  </li>
                  <li>
                    Degi noru tobulėti, rodai iniciatyvą ir jau turi bazinius gebėjimus – savo malonumui programuoji,
                    kuri puslapius ar programėles, padedi draugams spręsti technines problemas.
                  </li>
                  <li>
                    Esi pasiryžusi/-ęs bent pusę dienos laiko skirti teorinėms ir praktinėms užduotims. Praktikai
                    numatytas laikas yra darbo dienomis (14-18 val.).
                  </li>
                  <li>
                    Puikiai kalbi ir rašai angliškai.
                  </li>
                </ul>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                <a class="card-title custom-collapse-text"> Kiek trunka programa? </a>
              </div>
              <div id="collapseTwo" class="card-body collapse">
                <ul>
                  <li>
                    Visa Programa vyksta dviem etapais:
                    <ul>
                      <li>3 mėnesius vyksta praktika. Geriausiai praktikos metu pasirodę studentai atrenkami
                        stažuotei.
                      </li>
                      <li>2 mėnesius stažuotė. Geriausieji įdarbinami „Įmonės_pavadinimas“ IT.
                      </li>
                    </ul>
                  </li>
                  <li>Stažuotės laikotarpiu dalyviui mokama IT stipendija.
                  </li>
                  <li>
                    IT Akademija@Įmonės_pavadinimas startuoja vasario mėnesį.
                  </li>
                </ul>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                <a class="card-title custom-collapse-text"> Kodėl verta prisijungti? </a>
              </div>
              <div id="collapseThree" class="collapse">
                <div class="card-body">
                  <ul>
                    <li>
                      Dalyvausi įgyvendinant IT projektus, ugdysi IT kompetenciją, išmoksi Agile metodikos principų.
                    </li>
                    <li>
                      Pamatysi banką be kaklaraiščio, kuriame dirbame ir švenčiame kartu.
                    </li>
                    <li>
                      Susipažinsi su „IT Akademija@Įmonės_pavadinimas“ alumnais, kurie jau įsidarbino pas mus.
                    </li>
                    <li>
                      Mokysiesi ne iš vadovėlių, bet iš „Įmonės_pavadinimas“ IT profesionalų.
                    </li>
                    <li>
                      Gausi kokybišką grįžtamąjį ryšį, kuris tau padės tobulėti dar greičiau.
                    </li>
                    <li>
                      Turėsi galimybę išbandyti ir atrasti save skirtingose IT srityse.
                    </li>
                    <li>
                      Jei tau puikiai seksis ir norėsi tęsti karjerą „Įmonės_pavadinimas“ IT, praktikos pabaigoje galėsi
                      pasirinkti norimą stažuotės kryptį.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div><p id="marketing">Jei turi klausimų – parašyk atranka@Įmonės_pavadinimas.lt</p></div>
        </div>
        <!-- Collapsable menu ends here-->
      </div>
    </div>
    <!-- Column 2-->
    <div class="image-container">
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image" [routerLink]="'/form'"/></div>
        <div>
          <a class="nav-link" [routerLink]="'/form'">Užpildykite prašymą</a>
        </div>
      </div>
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image" [routerLink]="'/home'"/></div>
        <div><a class="nav-link" [routerLink]="'/home'">Studentų erdvė</a></div>
      </div>
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image" [routerLink]="'/login'"/></div>
        <div><a class="nav-link" [routerLink]="'/login'">Prisijungimas</a></div>
      </div>
    </div>
  </div>

    <!-- Footer -->
    <footer class="page-footer">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <p class="text-uppercase">Rekvizitai</p>
            <ul class="list-unstyled">
              <li>
                <p>„Įmonės pavadinimas“</p>
              </li>
              <li>
                <p>'Įmonės adresas'</p>
              </li>
              <li>
                <p>'Įmonės SWIFT kodas'</p>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3"/>

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Space for extra content if needed -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <p class="text-uppercase">Nuorodos</p>

            <ul class="list-unstyled">
              <li>
                <a [routerLink]="'/form'">Užpildyk prašymą</a>
              </li>
              <li>
                <a href="#!">Studentų erdvė</a>
              </li>
              <li>
                <a href="#!">D.U.K</a>
              </li>
              <li>
                <a href="#!">Apie mus</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020:
        <a href=""> „Įmonės pavadinimas“</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>

