#main{
  overflow-y: scroll;
  height:100%;
  width: 60%;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -ms-overflow-style: none;
}

/* Hide scroll bar */
#main::-webkit-scrollbar{
  display:none;
}

#header{
  background: red;
}
