<div id="main">

  <!-- header -->
  <div id="header">
    <div>
      <img src="/assets/images/logo.png" id="logo">
    </div>
    <div>
      <h1>IT Academija</h1>
    </div>
  </div>


  <section class="container">
    <!-- Column 1 -->
    <div class="one">
      <div class="Column1_row">
        <h2>Karjera „Įmonės pavadinimas“</h2>
        <h3>Kartu mes kuriame gerovę!</h3>
        <p>Dirbti 'Įmonės pavadinimas' reiškia būti su žmonėmis, kurie kasdien vadovaujasi atvirumo,
          paprastumo, rūpestingumo principais klientų, kolegų ir visuomenės atžvilgiu.
          Tai reiškia augti ir kurti klientų patirtį bei gerovę drauge!</p>
      </div>
      <div class="Column1_row">

        <!-- Collapsable menu -->
        <div class="collapse-accordion" id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne1">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true"
                   aria-controls="collapseOne">
                  Prisijunk, jeigu tu:
                </a>
              </h5>
            </div>

            <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
              <div class="card-block">
                <ul style="list-style-type:circle;">
                  <li>Sieki su IT susijusio išsilavinimo ar mėgini praktiškai atrasti save šioje srityje.</li>
                  <li>Ateityje nori būti įvairiapusis IT specialistas, kuris sugeba ne tik programuoti.</li>
                  <li>Degi noru tobulėti, rodai iniciatyvą ir jau turi bazinius gebėjimus – savo malonumui programuoji,
                    kuri puslapius ar programėles, padedi draugams spręsti technines problemas.
                  </li>
                  <li>Esi pasiryžusi/-ęs bent pusę dienos laiko skirti teorinėms ir praktinėms užduotims. Praktikai
                    numatytas laikas yra darbo dienomis (14-18 val.).
                  </li>
                  <li>Puikiai kalbi ir rašai angliškai.</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo2">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2"
                   aria-expanded="false" aria-controls="collapseTwo2">
                  Kiek trunka programa?
                </a>
              </h5>
            </div>
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
              <div class="card-block">
                <ul style="list-style-type:circle;">
                  Visa Programa vyksta dviem etapais:
                  <li>3 mėnesius vyksta praktika. Geriausiai praktikos metu pasirodę studentai atrenkami stažuotei.</li>
                  <li>2 mėnesius stažuotė. Geriausieji įdarbinami „Įmonės pavadinimas“ IT.</li>
                  <li>Stažuotės laikotarpiu dalyviui mokama IT stipendija.</li>
                  <li>IT Akademija@Įmonės_pavadinimas startuoja vasario mėnesį.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree2">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2"
                   aria-expanded="false" aria-controls="collapseThree2">
                  Kodėl verta prisijungti?
                </a>
              </h5>
            </div>
            <div id="collapseThree2" class="collapse" role="tabpanel" aria-labelledby="headingThree2">
              <div class="card-block">
                <ul style="list-style-type:circle;">
                  <li>Dalyvausi įgyvendinant IT projektus, ugdysi IT kompetenciją, išmoksi Agile metodikos principų.
                  </li>
                  <li>Pamatysi banką be kaklaraiščio, kuriame dirbame ir švenčiame kartu.</li>
                  <li>Susipažinsi su „IT Akademija@Įmonės_pavadinimas“ alumnais, kurie jau įsidarbino pas mus.</li>
                  <li>Mokysiesi ne iš vadovėlių, bet iš „Įmonės pavadinimas“ IT profesionalų.</li>
                  <li>Gausi kokybišką grįžtamąjį ryšį, kuris tau padės tobulėti dar greičiau.</li>
                  <li>Turėsi galimybę išbandyti ir atrasti save skirtingose IT srityse.</li>
                  <li>Jei tau puikiai seksis ir norėsi tęsti karjerą „Įmonės pavadinimas“ IT, praktikos pabaigoje galėsi
                    pasirinkti norimą stažuotės kryptį.
                  </li>
                  <li>Jei turi klausimų – parašyk atranka@Įmonės_pavadinimas.lt</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Collapsable menu ends here-->
    </div>

    <!-- Column 2-->
    <div class="two">
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image"></div>
        <div><a class="nav-link" [routerLink]="'/form'">Užpildykite prašymą</a></div>
      </div>
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image"></div>
        <div><a class="nav-link" [routerLink]="'/home'">Studentų erdvė</a></div>
      </div>
      <div>
        <div><img src="/assets/images/form.jpg" class="side-image"></div>
        <div><a class="nav-link" [routerLink]="'/login'">Prisijungimas</a></div>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4" id="footerBackground">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Rekvizitai</h5>
          <ul class="list-unstyled">
            <li>
              <p>„Įmonės pavadinimas“</p>
            </li>
            <li>
              <p>'Įmonės adresas'</p>
            </li>
            <li>
              <p>'Įmonės SWIFT kodas'</p>
            </li>
          </ul>


        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Space for extra content if needed -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Nuorodos</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Užpildyk prašymą</a>
            </li>
            <li>
              <a href="#!">Studentų erdvė</a>
            </li>
            <li>
              <a href="#!">D.U.K</a>
            </li>
            <li>
              <a href="#!">Apie mus</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020:
      <a href=""> „Įmonės pavadinimas“</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</div>
