<div id="main">


  <div class="main-container">
    <h1 class="title-align">IT Akademija</h1>
    <!-- Column 1 -->
    <div class="column">
      <div class="customRow">
        <p>
          Tai dviejų dalių programa, kurią
          sudaro su studijomis suderinta praktika ir stažuotė. Ši programa skirta ne tik
          informacinių technologijų ar susijusių specialybių studentams, tačiau
          ir tiems, kurie sieja savo ateitį su IT sritimi ir jau dabar tobulina
          savo techninius sugebėjimus.
        </p>
        <h2>Praktika</h2>
        <hr>
        <p>
          Šios programos metu dalyviai mokosi programavimo, duomenų analizės,
          informacinių sistemų priežiūros ir testavimo, komandinio darbo
          naudojant banko specifines technologijas, procesus ir praktikas, darbo
          su duomenimis.
        </p>
        <h2>Stažuotė</h2>
        <hr>
        <p>
          Šios programos metu dalyviai mokosi programavimo, duomenų analizės,
          informacinių sistemų priežiūros ir testavimo, komandinio darbo
          naudojant banko specifines technologijas, procesus ir praktikas, darbo
          su duomenimis.
        </p>
      </div>
    </div>
    <!-- Column 2-->
    <div class="column">
      <div>
        <img src="/assets/images/code.jpg" class="custom-img">
      </div>
      <div class="customButtonChoicesColumn">
        <h2>Registruotis į IT Akademiją!</h2>
        <button class="btn btn-custom" [routerLink]="'/form'">Pildyti paraišką</button>
      </div>
      <div class="customButtonChoicesColumn">
        <h2>Karjera įmonėje</h2>
        <button class="btn btn-custom" [routerLink]="'/home'">Skelbimai</button>
      </div>
    </div>
  </div>

  <div class="dropdown-container">
    <h2>Plačiau apie IT Akademiją</h2>
    <hr>
    <div class="customRow">
      <!-- Collapsable menu -->
      <div>
        <div id="accordion" class="accordion">
          <div class="card mb-0">
            <div
              class="card-header collapsed open-by-default-tab"
              data-toggle="collapse"
              href="#collapseOne"
              aria-expanded="true"
            >
              <a class="card-title custom-collapse-text">
                Prisijunk, jeigu tu:
              </a>
            </div>
            <div id="collapseOne" class="card-body collapse show">
              <ul>
                <li>
                  Sieki su IT susijusio išsilavinimo ar mėgini praktiškai
                  atrasti save šioje srityje.
                </li>
                <li>
                  Ateityje nori būti įvairiapusis IT specialistas, kuris
                  sugeba ne tik programuoti.
                </li>
                <li>
                  Degi noru tobulėti, rodai iniciatyvą ir jau turi bazinius
                  gebėjimus – savo malonumui programuoji, kuri puslapius ar
                  programėles, padedi draugams spręsti technines problemas.
                </li>
                <li>
                  Esi pasiryžusi/-ęs bent pusę dienos laiko skirti teorinėms
                  ir praktinėms užduotims. Praktikai numatytas laikas yra
                  darbo dienomis (14-18 val.).
                </li>
                <li>
                  Puikiai kalbi ir rašai angliškai.
                </li>
              </ul>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseTwo"
            >
              <a class="card-title custom-collapse-text">
                Kiek trunka programa?
              </a>
            </div>
            <div id="collapseTwo" class="card-body collapse">
              <ul>
                <li>
                  Visa Programa vyksta dviem etapais:
                  <ul>
                    <li>3 mėnesius vyksta praktika. Geriausiai praktikos metu pasirodę studentai atrenkami
                      stažuotei.
                    </li>
                    <li>
                      2 mėnesius stažuotė. Geriausieji įdarbinami
                      „Įmonės_pavadinimas“ IT.
                    </li>
                  </ul>
                </li>
                <li>Stažuotės laikotarpiu dalyviui mokama IT stipendija.</li>
                <li>
                  IT Akademija@Įmonės_pavadinimas startuoja vasario mėnesį.
                </li>
              </ul>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseThree"
            >
              <a class="card-title custom-collapse-text">
                Kodėl verta prisijungti?
              </a>
            </div>
            <div id="collapseThree" class="collapse">
              <div class="card-body">
                <ul>
                  <li>
                    Dalyvausi įgyvendinant IT projektus, ugdysi IT
                    kompetenciją, išmoksi Agile metodikos principų.
                  </li>
                  <li>
                    Pamatysi banką be kaklaraiščio, kuriame dirbame ir
                    švenčiame kartu.
                  </li>
                  <li>
                    Susipažinsi su „IT Akademija@Įmonės_pavadinimas“ alumnais,
                    kurie jau įsidarbino pas mus.
                  </li>
                  <li>
                    Mokysiesi ne iš vadovėlių, bet iš „Įmonės_pavadinimas“ IT
                    profesionalų.
                  </li>
                  <li>
                    Gausi kokybišką grįžtamąjį ryšį, kuris tau padės tobulėti
                    dar greičiau.
                  </li>
                  <li>
                    Turėsi galimybę išbandyti ir atrasti save skirtingose IT
                    srityse.
                  </li>
                  <li>
                    Jei tau puikiai seksis ir norėsi tęsti karjerą
                    „Įmonės_pavadinimas“ IT, praktikos pabaigoje galėsi
                    pasirinkti norimą stažuotės kryptį.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Collapsable menu ends here-->
    </div>
  </div>

  <div class="email-container">
    <div class="email-icon left"></div>
    <div class="right">Jei turi klausimų – parašyk atranka@Įmonės_pavadinimas.lt</div>
  </div>

  
</div>
